<div class="container">
  <div class="row">
    <h1>利用規約</h1>
    <div class="term-title">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
</div>
