<div class="container">
  <div class="row">
    <h1>利用規約</h1>
    <div class="term-title">
      <ul>
        <li>本サイトは無料でご利用頂けます。</li>
        <li>投稿する際は誤字脱字を確認しましよう。</li>
        <li>誹謗中傷等の書き込みに対しては、管理者が適切な対応を致します。</li>
        <li>当サイトへの会員登録をした段階で、当サイト利用規約を承諾したものとみなします。</li>
        <li>当サイトから退会手続をした段階で、退会したものとみなします。</li>
      </ul>
    </div>
  </div>
</div>
